@model RecipeListViewModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="row">
    <div class="col-xs-12">
        <form method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="filter" value="@Model.Filter"/>
                <input type="submit" class="btn btn-primary" value="Filter"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @if (Model.Recipes.Any())
    {
        foreach (var recipeListItem in Model.Recipes)
        {
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="@recipeListItem.ImageSource" alt="@recipeListItem.Title">
                <div class="card-body">
                    <h5 class="card-title">@Html.ActionLink(recipeListItem.Title, "View", "Recipes", new {Id = recipeListItem.Id})</h5>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No Recipes found</h3>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group"></div>
        <div class="form-group">
            @Html.ActionLink("Add new recipe", "Add", "Recipes", new {}, new {Class = "btn btn-secondary"})
        </div>
    </div>
</div>