@model RecipeDetailViewModel
@{
    ViewData["Title"] = $"Recipe - {Model.Title}";
}


<h1>@Model.Title</h1>


<h2>@Model.Comment</h2>

@if (Model.ImageSource != null)
{
    <img src="@Model.ImageSource"/>
}

<ul>
    @foreach (var ingredient in Model.Ingredients)
    {
        <li>@ingredient.Measurement of @ingredient.Name</li>
    }
</ul>

<ol>
    @foreach (var instruction in Model.Instructions)
    {
        <li>@instruction.Description</li>
    }
</ol>